<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuZyUfosvx9pVOT-nOwV9760Enlx5_XIM </string>
	<key>GCM_SENDER_ID</key>
	<string>180604459920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ulearningApp</string>
	<key>PROJECT_ID</key>
	<string>ulearning-app-860f5</string>
	<key>STORAGE_BUCKET</key>
	<string>ulearning-app-860f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180604459920:ios:b97a4f912a447077f6f115</string>
</dict>
</plist>